.box{
    border: 1px solid;
    height: 300px;
    width: 30%;
    margin: auto;
}
.box1{
    border: 1px solid;
    height: 10px;
    width: 100%;
    margin: 12px;
    
}

.details{
    display: flex;
    justify-content: center;
}