<h1>Get and Set Value</h1>
<h1>Username is : {{displayName}}</h1>

<input type="text" value="{{name}}" (input)="getName($event)" name="" id="">
<br><br>
<button (click)="showName()">Get Value</button>
<button (click)="setName()">Set Value</button>

<hr>

<h1>Email</h1>
<h1>User Email:{{displayEmail}}</h1>

<input type="text" value="{{email}}" (input)="getEmail($event)" name="" id="">
<br><br>
<button (click)="showEmail()">Get Email</button>
<button (click)="setEmail()">Set Email</button>

<app-style-option></app-style-option>
<app-if-else></app-if-else>

<app-else-if></app-else-if>
<app-switch-case></app-switch-case>
 <app-for-loop></app-for-loop>

 <app-signals></app-signals>

 <img src="../assests/pngImag.png" alt="No">