<nav class="container-fluid">
  <ul class="d-flex justify-content-center align-items-center nav">
    <h2 class="me-5 logo">Shrikant</h2>
    <li class="m-4 fs-4"><a href="#home">Home</a></li>
    <li class="m-4 fs-4"><a href="#about">About</a></li>
    <li class="m-4 fs-4"><a href="#contact">Contact Us</a></li>
    <li class="m-4 fs-4"><a href="#project">Project</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- Sections -->
<section id="home">
  <app-home></app-home>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="skills">
  <app-skills></app-skills>
</section>

<section id="project">
  <app-project></app-project>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>

<app-footer></app-footer>
