<aside>
    <div class="conatiner w-80 border-1 h-dvh bg-cyan-900">
       <ul class="text-3xl mt-10 p-10 ">
        <li class="mt-10 p-5 text-sky-200" routerLink="/" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="bg-sky-400 border-l-4">Add Users</li>
        <li class="mt-10 p-5 text-sky-200" routerLink="/all" routerLinkActive="bg-sky-400 border-l-4">All Users</li>
        <li class="mt-10 p-5 text-sky-200" routerLink="/update" routerLinkActive="bg-sky-400 border-l-4">Update Users</li>
       </ul>
    </div>
</aside>