.btn:hover {
  box-shadow: 2px 2px 21px black;
}

.heroImg {
  border-radius: 30px;
}
.heroImg:hover {
  box-shadow: 0px 2px 21px rgb(30, 30, 30);
  border-radius: 30px;
}
.btn {
  background-color: black;
  box-shadow: 0px 2px 21px rgb(30, 30, 30);
  color: rgb(0, 134, 174);
  font-size: 20px;
}
