<div class="container">
  <h1 class="about-heading">Experience</h1>
</div>

<div class="container mb-5 p-5">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img src="sensia_img.webp" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Software Engineer at Sensia</h5>
          <p class="card-text">
            A software engineer with a passion for frontend development and user
            experience design.
          </p>
          <!-- <a href="#" class="btn" style="background-color:rgb(155, 113, 30);">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <!--  -->

     <div class="col-4">
      <div class="card" style="width: 18rem">
        <img src="smartknower_logo.jpg" class="card-img-top img-fluid" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Web Developer Intern at Smark Knower</h5>
          <p class="card-text">
            A software engineer with a passion for frontend development and user
            experience design.
          </p>
          <!-- <a href="#" class="btn" style="background-color:rgb(155, 113, 30);">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <!--  -->

     <div class="col-4">
      <div class="card" style="width: 18rem">
        <img src="cdac.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">CDAC PG-DAC Certified</h5>
          <p class="card-text">
           Completed advanced IT training at CDAC, specializing in software development and system design.
          </p>
          <!-- <a href="#" class="btn" style="background-color: rgb(155, 113, 30);">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
