<!-- <h1>Add Article</h1>

<form #addArticle="ngForm" (ngSubmit)="addArticle(addArticle.value)">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" ngModel required />

  <label for="category">Category:</label>
  <input type="text" name="category" id="category" ngModel required />

  

  <label for="createName">Create Name:</label>
  <input type="text" name="createName" id="createName" ngModel required />

  <button type="submit">Add Article</button>
</form> -->

<form #addArticle="ngForm" (ngSubmit)="addArticle(addArticle.value)">

    
</form>
