<div class="flex flex-1/2">
    <table class=" flex flex-row flex-1/6">
        <thead class="">
            <tr >
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Raju</td>
                <td>Raju.com</td>
                <td>Admin</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Kaju</td>
                <td>Kaju.example.com</td>
                <td>User</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Sammy </td>
                <td>sam.wilsonexample.com</td>
                <td> Moderator</td>
            </tr>
        </tbody>
    </table>
    
</div>