<h1 class="text-center mt-5">Task 1</h1>

<div class="container d-flex justify-content-end">
  <button class="btn btn-warning m-2 p-4" routerLink="">Back to Home</button>
</div>

<div class="container-fuild m-3 mt-5">
  <table class="table table-light border">
    <thead>
      <tr class="p-5 ">
        <th class="border p-3"><img src="wifi.png" height="20px" width="20px" alt=""> Tag Name </th>
      <th class="border p-3 "><img src="wifi.png" height="20px" width="20px" alt=""> Value</th>
      <th class="border p-3 "><img src="wifi.png" height="20px" width="20px" alt=""> Unit</th>
      <th class="border p-3 "><img src="wifi.png" height="20px" width="20px" alt=""> Quantity</th>
      <th class="border p-3 "><img src="wifi.png" height="20px" width="20px" alt=""> Last Update</th>
      <th class="border p-3 "><img src="wifi.png" height="20px" width="20px" alt=""> Data Type</th>
      <th class="border p-3 "><img src="wifi.png" height="20px" width="20px" alt=""> Writable</th>
      <th class="border p-3 "><img src="wifi.png" height="20px" width="20px" alt=""> Data Provider</th>
      <th class="border p-3 "><img src="wifi.png" height="20px" width="20px" alt=""> Data Source</th>
      </tr>
    </thead>

    <tbody>
        <tr>
            <td  class="border p-2 ">000 test tag</td>
            <td  class="border p-2 ">16.4 <button class="border ms-3"><img class="" src="editing.png" alt="" width="20px"></button> <button class="border ms-2"><img src="reset.png" alt="" width="20px"> </button></td>
            <td  class="border p-2 ">K</td>
            <td  class="border p-2 ">Good</td>
            <td  class="border p-2 ">3/31/25, 10:57PM</td>
            <td  class="border p-2 ">float</td>
            <td  class="border p-2 ">true</td>
            <td  class="border p-2 ">DP2</td>
            <td  class="border p-2 ">DS1</td>
        </tr>
    </tbody>
  </table>
</div>
