<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
   <section>
     <div class="container m-5 mt-5 home">
      <div class="row d-flex justify-content-center">
        <div class="col-7">
          <h1 class="m-3" id="typewriter">Hi, I am a {{ displayText }}</h1>

          <h3 class="m-3 mt-3 hero-text">
            I have a passion for design challenges and enjoy the thrill of daily
            surprise rewards.
          </h3>

          <button class="btn btn-home m-5 fs-3">Resume</button>
        </div>

        <div class="col-3 img-container">
          <img class="myPhoto img-fluid" src="Shrikant-Photo.jpeg" alt="" />
        </div>
      </div>
    </div>
   </section>
  </body>
</html>
