.skills-heading{
    color: teal;
}

.skills-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #9b711e;
  font-weight: bold;
}

#chartContainer,
#chartContainer2 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#chartContainer:hover,
#chartContainer2:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
