<app-home></app-home>
<hr />

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row  ">
      <div class="col-3 mb-4  me-5">
        <label class="form-label" for="">Check-In Date</label>
        <input
          class="form-control"
          type="date"
          name=""
          id=""
          formControlName="checkInDate"
        />
        <div
          class="text-danger"
          *ngIf="
            reservationForm.get('CheckInDate')?.invalid &&
            reservationForm.get('checkInDate')?.touched
          "
        >
          Check-In Date is Required
        </div>
      </div>

       <!--  -->

    <div class="col-3 mb-4 ms-5">
      <div>
        <label class="form-label" for="">Check-Out Date</label>
        <input
          class="form-control"
          type="date"
          name=""
          id=""
          formControlName="checkOutDate"
        />
        <div
          class="text-danger"
          *ngIf="
            reservationForm.get('CheckInDate')?.invalid &&
            reservationForm.get('checkInDate')?.touched
          "
        >
          Check-Out Date is Required
        </div>
      </div>
    </div>
    </div>

   

    <div class="row">
      <div class="col-4">
        <div>
          <label class="form-label" for="">Guest Name:</label>
          <input
            class="form-control"
            type="text"
            name=""
            id=""
            formControlName="guestName"
          />
          <div
            class="text-danger"
            *ngIf="
              reservationForm.get('CheckInDate')?.invalid &&
              reservationForm.get('checkInDate')?.touched
            "
          >
            Name is Required
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-4">
        <div>
          <label class="form-label" for="">Guest Email:</label>
          <input
            class="form-control"
            type="text"
            name=""
            id=""
            formControlName="guestEmail"
          />
          <div
            class="text-danger"
            *ngIf="
              reservationForm.get('CheckInDate')?.invalid &&
              reservationForm.get('checkInDate')?.touched
            "
          >
            Email is Required
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div>
          <label class="form-label" for="">Room Number:</label>
          <input
            class="form-control"
            type="number"
            name=""
            id=""
            formControlName="roomNumber"
          />
          <div
            class="text-danger"
            *ngIf="
              reservationForm.get('CheckInDate')?.invalid &&
              reservationForm.get('checkInDate')?.touched
            "
          >
            Room Number is Required
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-4">
        <button
          class="btn btn-warning p-3 m-3"
          [disabled]="reservationForm.invalid"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
